<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
         <assemblyIdentity name="Microsoft.Ink" 
                           publicKeyToken="31BF3856AD364E35" />
         <bindingRedirect oldVersion="0.0.0.0-6.0.65535.65535" 
                          newVersion="6.1.0.0" />
       </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>